/* Sweet Sangria */
/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
/*Widget box*/
.sc-hNKHps,
.hTPFel {
  overflow: hidden;
  width: 350px;
  height: 67px;
  animation: bar 5s ease-out infinite alternate both;
  background: rgba(25, 20, 20, 1);
  border-radius: 15px 15px 15px 15px;
  border-bottom: 3px solid rgba(161, 29, 51, 1);
}
/*Info box*/
.sc-cZwWEu,
.iimgEi {
  height: 70px;
  left: 5px;
}
/*Info shadow*/
.sc-jTYCaT,
.cuzWei {
  box-shadow: none;
}
/*Track name*/
.sc-fvNpTx,
.gokLMG {
  color: rgba(255, 255, 255, 1);
  font-family: 'Lexend', sans-serif;
  text-shadow: none;
  font-size: 18px;
  position: relative;
  top: 4px;
}
/*Artist name*/
.sc-HzFiz,
.bSoNpP {
  color: rgba(250, 92, 118, 1);
  font-family: 'Lexend', sans-serif;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 3.5px;
}
/*Image cover*/
.sc-dsQDmV,
.clTnkj {
  animation: cover-spin 20s linear infinite,
    cover-border 5s ease-out infinite alternate both;
  width: 59px;
  height: 59px;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: relative;
  left: 2px;
  top: 2px;
}
/*Animations*/
@keyframes bar {
  0%,
  100% {
    border-bottom: 3px solid rgba(161, 29, 51, 1);
  }
  50% {
    border-bottom: 3px solid rgba(25, 20, 20, 1);
  }
}
@keyframes cover-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cover-border {
  0%,
  100% {
    border: 3px solid rgba(161, 29, 51, 1);
  }
  50% {
    border: 3px solid rgba(255, 255, 255, 1);
  }
}
